label {
  font-weight: bold;
}
.label {
  cursor: default;
}
.label-status-designing {
  background-color: #38e;
}
.label-status-material {
  background-color: #f77;
}
.label-status-ordered {
  background-color: #f90;
}
.label-status-drawing {
  background-color: #bb0;
}
.label-status-ready {
  background-color: #0bb;
}
.label-status-outsourced {
  background-color: #f06;
}
.label-status-manufacturing {
  background-color: #b0b;
}
.label-status-scotchbrite {
  background-color: #796;
}
.label-status-assembly {
  background-color: #666;
}
.label-status-done {
  background-color: #3d6;
}
.label-status-received {
  background-color: #3d6;
}
.label-status-open {
  background-color: #0bb;
}
.label-status-in_progress {
  background-color: #38e;
}
.label-status-finished {
  background-color: #3d6;
}
.dashboard-label {
  padding: 2px 4px;
  color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.dashboard-part {
  width: 115px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border: 1px solid black;
  float: left;
  margin: 3px;
  font-weight: bold;
  color: black;
}
.dashboard-status {
  margin-top: 0;
  margin-bottom: 5px;
}
.priority-0 {
  background-color: #fa4;
}
.priority-1 {
  background-color: #4a7;
}
.priority-2 {
  background-color: #aaa;
}
.table th a {
  color: black;
}

li > h4 {
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .navbar-collapse.collapse {
     display: inline;
   }
}

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
.table-scroll {
    position: relative;
    width:100%;
    height: 90vh;
    z-index: 1;
    margin: auto;
    overflow: scroll;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* transparent scrollbar */ 
}
.table-scroll table {
    width: 100%;
    min-width: 1280px;
    margin: auto;
    border-collapse: separate;
    border-spacing: 0;
}
.table-wrap {
    position: relative;
}
.table-scroll th,
.table-scroll td {
    padding: 5px 10px;
    vertical-align: top;
}
.table-scroll thead th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
th:first-child {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 2;
    background: #f9f9f9;
}
thead th:first-child {
    z-index: 5;
}
thead th {
    background: #f9f9f9;
}

/* vertically align button and select elements */
select, button{
    vertical-align:top;
}

/* vertically align file button and text */
input[type="file"] {
    line-height: 1ex;
}

/* vertically align checkboxes and labels */
input[type="checkbox"] {
    float: left;
    line-height: 1.6em;
    height: 1.6em;
    margin: 0px 2px;
    padding: 0px;
    font-size: inherit;
}

